body{
  font-family:tahoma;
  font-size:12px;
  background-image: url("../img/website3.png");
  background-position: center;
  background-size: cover;
}
#pendaftaran-step{
  margin:auto;padding:0;
  width:53%;
}
#pendaftaran-step li{
  list-style:none;
  float:left;
  padding:5px 10px;
  border-top:#FFF 1px solid;
  border-left:#FFF 1px solid;
  border-right:#FFF 1px solid;
  border-radius:5px 5px 0 0;
  background-color: #FFF;
}
.active{
  color:#FFF;
}
#pendaftaran-step li.active{
  background-color:#434649;
}
#pendaftaran-form{
  clear:both;
  border:10px #FFF solid;
  padding:20px;width:50%;
  margin:auto;
  background: rgb(224, 154, 207);

}
.demoInputBox{
  padding: 10px;
  border: #CDCDCD 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
}
.formError{
  color:#FF0000;
  padding-left:15px;
  background-color: inherit;
}
.message {
  color: #396;
  font-weight: bold;
  font-size:16px;
  margin-left:22%;
  width: 100%;
  padding: 10;
}
.btnAction{
  padding: 5px 10px;
  background-color: #eebe12;
  border: 0;
  color: #000000;
  cursor: pointer;
  margin-top:15px;
}
label{
  line-height:35px;
}
h1{
  margin-top: 20px;
	margin:3px 0;
	font-size:30px;
	text-align:center;
}
.tLink{
	font-family:tahoma;
	size:12px;
	padding-left:10px;
	text-align:center;
}
.chckBox{
  position: relative;
}
